.header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.header svg {
  color: var(--dark-blue);
  font-size: 2rem;
  transform: translateY(0.2rem);
}

.header h3 {
  color: rgb(67, 67, 67);
  font-weight: 500;
  font-size: 1.6rem;
}

.formButton {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}