.navbar {
  display: none;
  padding: 1rem 2rem;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
}

@media (min-width: 768px){
  .navbar {
    display: flex;
  }
}

@media (min-width: 1080px) {
  .navbar {
    flex-direction: row;
  }
}

.bgTransparent {
  background-color: transparent !important;
}

.list {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.listItem a {
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.listItem a:hover {
  color: var(--light-green);
}

.btnDashboard {
  background-color: var(--yellow);
  border-color: var(--yellow);
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btnDashboard:hover {
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
}