.listItems {
  padding: 0;
}

.listItems li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: #757575;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.listItems li:hover {
  background-color: var(--verde-claro);
}

.listItems li:hover p {
  color: #535353;
}

.listItems p {
  font-size: 0.85rem;
  margin: 0;
}

.listItems p:hover {
  color: var(--azul-oscuro);
}

.listItems img {
  width: 1.5rem;
  height: 1.5rem;
}

.activeLink {
  background-color: var(--verde-claro);
  border-radius: 10px;
}

.activeLink p {
  color: #535353;
}

.sectionTitle {
  text-align: center;
  color: #3c3c3c;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.gradientButton {
  align-items: center;
  background-image: linear-gradient(to right, var(--amarillo-hover) 0%, var(--amarillo) 50%, var(--amarillo-hover) 100%);
  background-size: 200% auto;
  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  color: white;
  display: flex;
  font-size: 1em;
  font-weight: 800;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  width: 100%;
  font-size: 0.85rem;
}

.gradientButton:hover {
  background-position: right center;
}

/* Alert Button */

.activateButton {
  background-image: linear-gradient(to right, var(--rojo-hover) 0%, var(--rojo) 50%, var(--rojo-hover) 100%);
  margin: 1rem 0;
}

.desactivateButton {
  background-image: linear-gradient(to right, var(--verde-oscuro) 0%, var(--verde) 50%, var(--verde-oscuro) 100%);
  margin: 1rem 0;
}

/* Logout Button */

.logoutButton {
  background-image: linear-gradient(to right, var(--amarillo-hover) 0%, var(--amarillo) 50%, var(--amarillo-hover) 100%);
}