.sideMenu {
  padding: 1rem;
}

.logo {
  display: block;
}

.logo svg {
  width: 100%;
  height: 4rem;
}

.listItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItems li {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;
  border-radius: 10px;
}

.listItems > li > a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  color: #757575;
}

.listItems li:hover {
  background-color: var(--light-green);
}

.listItems p {
  font-size: 0.85rem;
  margin: 0;
}

.listItems svg {
  width: 1.5rem;
  height: 1.5rem;
}

.sectionTitle {
  text-align: center;
  color: #3c3c3c;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 1rem 0;
}